<div class="card">
  <div class="card-body">
    <div class="row d-flex justify-content-center">
      <!--end col-->
      <div class="col-12 col-lg-12">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-9">
                    <p class="text-black text-uppercase mb-0 fw-normal fs-13">
                      Diario
                    </p>
                    <h4 class="mt-1 mb-0 fw-medium">$76.50</h4>
                  </div>
                  <!--end col-->
                  <div class="col-3 align-self-center">
                    <div
                      class="d-flex justify-content-center align-items-center thumb-md rounded mx-auto"
                    >
                      <i
                        class="iconoir-dollar-circle fs-22 align-self-center mb-0 text-muted opacity-50"
                      ></i>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-9">
                    <p class="text-black text-uppercase mb-0 fw-normal fs-13">
                      Semanal
                    </p>
                    <h4 class="mt-1 mb-0 fw-medium">$852.50</h4>
                  </div>
                  <!--end col-->
                  <div class="col-3 align-self-center">
                    <div
                      class="d-flex justify-content-center align-items-center thumb-md rounded mx-auto"
                    >
                      <i
                        class="iconoir-calendar fs-22 align-self-center mb-0 text-muted opacity-50"
                      ></i>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-9">
                    <p class="text-black text-uppercase mb-0 fw-normal fs-13">
                      Mensual
                    </p>
                    <h4 class="mt-1 mb-0 fw-medium">$8542.50</h4>
                  </div>
                  <!--end col-->
                  <div class="col-3 align-self-center">
                    <div
                      class="d-flex justify-content-center align-items-center thumb-md rounded mx-auto"
                    >
                      <i
                        class="iconoir-stats-report fs-22 align-self-center mb-0 text-muted opacity-50"
                      ></i>
                    </div>
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
        <p class="mb-0 text-success bg-soft-success rounded p-2">
          La factura realizada con un monto de
          <span class="fw-bold text-dark">$2560.00</span> ha sido exitosa!
        </p>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end card-body-->
</div>
<!--end card-->
