<div class="row justify-content-center">
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <!--end col-->
          <div class="d-lg-flex justify-content-lg-between mt-2">
            <div class="dropdown" ngbDropdown>
              <a
                href="javascript:void(0);"
                ngbDropdownToggle
                class="btn bt btn-light dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="icofont-calendar fs-5 me-1"></i>Hoy<i
                  class="las la-angle-down ms-1"
                ></i>
              </a>
              <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:void(0);">Hoy</a>
                <a class="dropdown-item" href="javascript:void(0);"
                  >Semana</a
                >
                <a class="dropdown-item" href="javascript:void(0);"
                  >Mes</a
                >
                <a class="dropdown-item" href="javascript:void(0);"
                  >Año</a
                >
              </div>
            </div>
            <div>
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0);" tabindex="-1"
                    >Anterior</a
                  >
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0);">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);">Siguiente</a>
                </li>
              </ul>
              <!--end pagination-->
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="table-dark">
              <tr>
                <th class="border-top-0">Fecha</th>
                <th class="border-top-0">No. Serie</th>
                <th class="border-top-0">Folio</th>
                <th class="border-top-0">UUID</th>
                <th class="border-top-0">Cliente</th>
                <th class="border-top-0">Medio de Pago</th>
                <th class="border-top-0">Concepto</th>
                <th class="border-top-0">Importe</th>
                <th class="border-top-0">IVA</th>
                <th class="border-top-0">Total</th>
                <th class="border-top-0">Acción</th>
              </tr>
              <!--end tr-->
            </thead>
            <style>
              .uuid-hover:hover {
                text-decoration: underline;
              }
            </style>
            <tbody>
              @for (item of cardsData; track $index)  { 
                <tr>
                  <td>{{ item.date }}</td>
                  <td>{{ item.serie }}</td>
                  <td>{{ item.folio }}</td>
                  <td class="uuid-hover" style="color: blue; cursor: pointer;" (click)="redirectionToDetail()">{{ item.uuid }}</td>
                  <td>{{ item.cliente }}</td>
                  <td>{{ item.medioPago }}</td>
                  <td>{{ item.concepto }}</td>
                  <td>{{ item.importe }}</td>
                  <td>{{ item.iva }}</td>
                  <td>{{ item.total }}</td>                  
                  <td>
                    <a href="javascript:void(0);"
                      ><i class="las la-print text-secondary fs-18"></i
                    ></a>
                    <a href="javascript:void(0);"
                      ><i class="las la-download text-secondary fs-18"></i
                    ></a>
                    <a href="javascript:void(0);"
                      ><i class="las la-trash-alt text-secondary fs-18"></i
                    ></a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
          <!--end table-->
        </div>
        <!--end /div-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
