<pagetitle [title]="'Panel Principal'" />

<div class="row justify-content-center">
  <div class="col-lg-7">
    <app-cards />
  </div>
  <div class="col-lg-5">
    <app-stats />
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-12 col-lg-6">
    <app-report />
  </div>
  <div class="col-md-6 col-lg-3">
    <app-cash-flow />
  </div>
  <div class="col-md-6 col-lg-3">
    <app-exchange-rate />
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-3 order-2 order-lg-1">
    <app-balance-detail />
  </div>
  <div class="col-md-12 col-lg-6 order-1 order-lg-2">
    <app-transaction-history />
  </div>
  <div class="col-md-6 col-lg-3 order-3 order-lg-3">
    <app-send-money />
  </div>
</div>